<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="../assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <title>Pocetna</title>
</head>
<body>
    <form action="/api/login" method="POST" id="login">
        <div class="input-group flex-nowrap">
            <label for="Email" class="text-light">Email</label>
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" name="email" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        <div class="form-group">
            <label for="password" class="text-light">Password: </label>
            <input type="text" name="password" value="" placeholder="Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Log in</button>
        </div>
        <div class="form-group">
            <a href="/add-user">Don't have an account?</a>
        </div>  
    </form>
</body>
</html>